<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="shortcut icon" href="{% static '240_F_446386956_DiOrdcxDFWKWFuzVUCugstxz0zOGMHnA.jpg' %}" type="image/x-icon">
</head>
<body>
  <div id="container">
        <div id="chatbot-heading">
          <h2>Tutorial ChatBot</h2>
        </div>
        <div id="messages">  
          <table id="chatbot">
            <tr id="user" >
              <td >
    
              </td>
            </tr>
            <tr id="bot">
              <td>
    
              </td>
            </tr>
          </table>
        </div>  
        <div id="form">
          <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <div style="display: flex;text-align: center;">
              <div>
                <input type="text" name="message" id="msg" placeholder="enter message">
              </div>
              <div>
                <button id="btn"><i class="fa-solid fa-paper-plane"></i></button>
              </div>
              <!-- <div>
                <button id="btn2"><i class="fa-solid fa-microphone "></i></button>
              </div> -->
            </div>
          </form>
        </div>    
  </div>

 <script src="{% static 'app.js' %}"></script>
</body>
</html>
